*~
/*-[0-9][0-9].xml
archive.json
draft-ssmith-keri.xml
Gemfile.lock
/.gems/
/lib
/node_modules/
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
/.targets.mk
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
.DS_Store
.idea
venv/
/.vs
node_modules
*.log
dist
*.bak
*.tmp
.env
coverage
build
.history
/.cache/
